{
  "presets": ["react", ["env", {
    "targets": {
      "node": "4",
      "browsers": "last 2 versions, ie 10"
    },
    "useBuiltIns": true
  }]],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "presets": ["babel-minify"]
    }
  }
}
