
<IfModule mod_deflate.c>
	<FilesMatch "\.(js|css|otf|ttf|woff|html|svg)$">
		SetOutputFilter DEFLATE
	</FilesMatch>
</IfModule>


<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType text/x-javascript A86400
	ExpiresByType text/css A86400
</IfModule>

<ifModule mod_gzip.c>
	mod_gzip_on Yes
	mod_gzip_dechunk Yes
	mod_gzip_item_include file .(html?|css|js|svg)$
	mod_gzip_item_include mime ^application/x-javascript.*
	mod_gzip_item_exclude mime ^image/.*
	mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</ifModule>


<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /

  # Maintenance #
  # RewriteCond %{REMOTE_ADDR} !^213\.222\.164\.51
  # RewriteCond %{DOCUMENT_ROOT}/maintenance.php -f
  # RewriteRule ^(.*)$ maintenance.php [L]

  #  RewriteCond %{HTTPS} off
  #  RewriteCond %{HTTP_HOST} !\.loc$
  #  RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # api #
  RewriteRule ^api/(v([0-9])+\/.*)$ api-v$2.php?_url=/$1 [QSA,L]

  # static postfixed files #
  RewriteRule (.*)app@[0-9]+(\.[a-z]+)$ $1app$2 [L]


  # rhye.rs.hu:8884 #

  #RewriteCond %{HTTP_HOST} ^rhye.rs.hu:8884
  #RewriteRule ^api/(v([0-9])+\/.*)$ api-v$2.php?_url=/$1 [QSA,L]

  RewriteCond %{HTTP_HOST} rhye.rs.hu:8884$
  RewriteCond %{REQUEST_URI} !^/kontakt2/.*$
  RewriteRule ^(.*)$ kontakt2/$1

  RewriteCond %{HTTP_HOST} rhye.rs.hu:8884$
  RewriteCond %{REQUEST_URI} !^.*\.(jpg|css|js|gif|png|svg|woff|json|php|pdf)$
  RewriteRule ^(.*)$ kontakt2/index.html [L]


  #RewriteCond %{REQUEST_URI} !^.*\.(jpg|css|js|gif|png|svg|woff|woff2|json|php|pdf)$
  #RewriteCond %{REQUEST_FILENAME} !-f
  #RewriteCond %{REQUEST_FILENAME} !-d
  #RewriteRule ^(.*)$ index.php [L]

</IfModule>
