

// Base Size
// ----------------------

$baseFontSizeMobile: 10px;
// $baseFontSizeTablet:   16px;
$baseFontSizeDesktop:  10px;


// Responsive
// ----------------------

$break-small: 768px;
$break-large: 1024px;


// Color palette
// ----------------------

$white: #F8FAFB;
$white-dark: #F2F4F6;
$white-light: #FFFFFF;
$white-semi-light: #fbfcfd;


$blue: #2CE5F6;
$blue-dark: #4D7CFE;
$blue-light: rgba(225, 239, 255, 1);

//FFAB2B
$yellow: #FFAB2B;
// $yellow-light: #fef6c3;
$yellow-light: #FEF5E9;
$yellow-dark: rgb(250, 179, 0);

$green: #a8ea80;
$green-dark: #6DD230;
// $green-dark: #9ddc77;
// $green-light: #53bfa5;
$green-light: #F3F9EF;

// #FE4D97
$red: rgb(234, 108, 128);
$red-dark: rgb(243, 75, 145);
// $red-light: #FE4D97;
$red-light: #FBEDED;

$black: #252631;
$black-light: #d9d9d9;

$gray: #98A9BC;
// $gray-light: #edf0f3;
$gray-light: #e8ecef;
$gray-dark: #778CA2;



// Fonts
// ----------------------

$font: "Roboto";
