.avatar
{
  @include aspect-ratio(100%, 100%);

  border-radius: 100%;
  background-color: $black-light;
  background-size: cover;
  background-position: center;

  margin: 0 auto;

  >*
  {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  span // initial
  {
    right: 0;
    transform: translateY(50%);
    transform: translateY(calc(50% - 1rem));
    font-size: 2.6rem;
    color: white;
    font-family: monospace;
  }

  svg
  {
    transform: scale(.6);
  }
}
