.grid {
  .thead>div {
    display: flex;
    position: relative;
    left: -2rem;
    padding: 0 2rem;
    width: calc(100% + 4rem);
    border-bottom: 1px solid $white-dark;
    margin-bottom: 1em;

    >div {
      padding: 1em 0;
      color: $gray-dark;
      font-size: 0.85em;
      cursor: pointer;
      text-align: center;
      width: -webkit-fill-available;

      &.active {
        color: $black;
        border-bottom: 2px solid $black;
        font-weight: 500;

        div {
          display: inline-block;
        }

        .up,
        .down,
        {
        margin-left: .5em;
        width: 1rem;
        height: 1rem;
        @extend .embed-arrow-down-gray;
      }

      .up {
        transform: rotate(-180deg);
      }
    }
  }
}

.thead.small>div {
  left: 0;
  padding: 0;
  width: 100%;
  border-bottom-color: $black-light;
  margin-bottom: 0.5em;

  >div {
    color: $black;
    font-weight: bold;
    padding: 0.5em 0;
    font-size: 0.75em;
  }
}

// .tbody:not(.infinity) > div
// .tbody.infinity > div > div > div

.tbody:not(.infinity)>div,
.tbody.infinity>div>div>div>div {
  text-align: center;
  display: flex;
  border-bottom: 1px solid $gray-light;
  // font-size: 0.9em;
  // transition: background-color 0.2s ease, border-color 0.2s ease;

  &:nth-child(2n) {
    // background: $white;
  }

  &:last-child {
    border-bottom: none;
  }

  >div {
    padding: 0.85em 1em;
    overflow: hidden;
    line-height: 140%;
    width: -webkit-fill-available;
  }
}

.tbody:not(.no-hover):not(.infinity)>div,
.tbody:not(.no-hover).infinity>div>div>div>div {
  &:hover:not(.active) {
    background-color: $gray-light;
  }
}

.tbody.bg-nth-even:not(.infinity)>div,
.tbody.bg-nth-even.infinity>div>div>div>div {
  border-bottom: transparent;

  &:nth-child(even):not(.active) {
    background-color: $white-dark;
  }
}

.tbody.small:not(.infinity)>div,
.tbody.small.infinity>div>div>div>div {
  >div {
    font-size: 75%;
    padding: 0.3em 0.85em;
  }
}



.tbody .active {
  // background: rgba(0, 94, 212, 1);
  background: $blue-dark;
  // color: white;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  // background: linear-gradient(to left, rgba(169, 209, 255, 1) 4px, #e1efff 4px);
  // background: linear-gradient(to left, $yellow-dark 4px, $yellow-light 4px);
  border-bottom: 1px solid $white-dark;

  * {
    color: white;
  }
}

.thead .checkbox,
.tbody .checkbox {
  width: auto !important;
  font-size: 100% !important;
  padding: 1.5rem !important;
  min-width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    transition: background-color 0.5s ease, border-color 0.5s ease;
    border-radius: 2px;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    content: "";
    border: 1px solid $gray;
  }
}


.active .checkbox::after,
.checkbox.full::after {
  background-color: $blue-dark;
  border-color: $blue-dark;
  @extend .embed-checkmark-white;
  @extend .embed-80;
}

.checkbox.fragment::after {
  background-color: $gray-dark;
  border-color: $gray-dark;
  @extend .embed-minus-white;
  @extend .embed-50;
}

&.not-focus,
.not-focus {
  .tbody .active {
    background-color: $gray-dark !important;
  }
}

}


.row,
tr {
  &.avatar-title-action {
    td {
      vertical-align: middle;

      &::before,
      &::after {
        content: "";
        height: 0.5rem;
        display: block;
      }
    }

    .title:first-letter {
      text-transform: uppercase;
    }
  }
}

.freezePanes {
  overflow: auto;

  // table
  >div {
    display: table;
    border-collapse: collapse;

    >div {
      display: table-row;

      // cells
      >div {
        display: table-cell;
        // padding: 10px;
        // min-width: 800px;
        text-align: center;
        vertical-align: middle;
      }

      // header
      &:first-child {
        >div {
          position: sticky;
          top: 0;
          z-index: 2;

          &:first-child {
            left: 0;
            z-index: 3;
          }
        }
      }

      // first column without header
      &:not(:first-child)>div:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: white;
      }
    }
  }
}