.tag
{
  font-size: 75%;
  background-color: $yellow;
  color: $black;
  padding: 0.4rem 0.5rem 0.2rem 0.5rem;
  margin-bottom: .4rem;
  text-transform: uppercase;
  display: inline-block;

  &.red
  {
    color: $white;
    background-color: $red;
  }
}
