

// Base Size
// ----------------------


// Responsive
// ----------------------


// Color palette
// ----------------------

$white: rgb(256, 256, 256);
$yellow: rgb(248, 213, 62);
$yellow-dark: #efc409;
$red: rgb(230, 55, 58);
$black: rgb(60, 60, 60);
$gray: rgb(172, 172, 172);


$font: "Din";
