.field
{
  /* !- Slider */

  &.slider-field
  {
    .slider
    {
      .handle
      {
        width: 1.75em;
        height: 1.75em;
        border: 8px solid white;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
      }

      .active-line
      {
        height: 0em;
        border-radius: 0px;
      }

      .inactive-line
      {
        height: 0;
        border-radius: 0px;
      }

    }
  }


}
