.avatar
{
  background: linear-gradient(45deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
  // background-image: url('/tmp_images/avatar.jpg');
  background-size: cover;
  background-position: center;
}
